*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.green-area{
    height: 15vh;
    width: 100%;
    background-color: #009688;
}
.grey-area{
    height: 85vh;
    width: 100%;
    background-color: #dadbd4;
}
.container1{
    height: 90%;
    width: 80%;
    position: absolute;
    background-color: white;
    display: flex;
    top: 5%;
    left: 10%;
}
.menu-sx{
    width: 35%;
    height: 100%;
    border: 2px solid blueviolet;
    display: flex;
	flex-direction: column;
}
.menu-sx .user-info{
    display: flex;
	align-items: center;
	gap: 1rem;
	padding: .5rem 1rem;
	background-color: violet;
    justify-content: space-between;
}
.menu-sx .user-info .avatar-user {
	flex: 0 0 60px;
	height: 60px;
	object-fit: cover;
	object-position: center;
	border-radius: 100px;

}
.mess-dx{
    width: 65%;
    height: 100%;
    border: 2px solid orange;
}
.notifiche{
    display: flex;
    background-color: lightblue;
    padding:  1rem;
}
.notifiche .bell{
    overflow: hidden;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50px;
    border-radius: 100px;
    background-color: white;
    color: lightblue;
    margin-right: 1rem;
}
.search{
    display: flex;
    padding: 1rem;
    background-color: grey;
    
}

.search .sfifiat{
    width: 500px;
}
.contacts :hover{
    background-color: lightgrey;
}
.contacts .img-cont{
    width: 70px;
    border-radius: 100px;
    display: flex;
    margin: 1rem;
}
.contacts .details{
    display: flex;
}
.cont-s{
    display: flex;
}
.contacts .seconda-l{
    display: flex;
    justify-content: flex-end;
}
.details{
    margin: 1rem;
}
.contacts{
    overflow-y: auto;
}
.ora{
    display: flex;
    justify-content: flex-end;
    
}
.user-av{
    height: 60px;
    object-fit: cover;
	object-position: center;
	border-radius: 100px;
    flex: 0 0 60px;
    margin-right: 1rem ;
}
.info-user{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: violet;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}
.area-name{
    display: flex;
    flex-direction: column;
    
    margin: auto;
}
.ogg-user{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}
.area-n{
    display: flex;
}
.mess-dx .messages {
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
	padding: 3rem 5rem;;
}

 .message {
	position: relative;
	flex: 0 1 auto;
	margin-bottom: .5rem;
	padding: 1em;
	min-width: 125px;
	max-width: 45%;
	border-radius: .5em;
}

.messages .message-sent {
	align-self: flex-end;
	background-color: green;
	overflow-wrap: break-word;
}

.messages .message-received {
	align-self: flex-start;
	background-color: lawngreen;
}

.message .sent-date {
	position: absolute;
	right: .5em;
	bottom: .5em;
	font-size: .7em;
}
.mess-dx .message-bar {
	flex: 0 0 auto;
}